{:deps true ; Use deps from deps.edn with newer shadow-cljs (from 2.19.0)
 :builds       {:test         {:target    :karma
                               :output-to "target/test.js"}
                :browser-test {:target    :browser-test
                               :test-dir  "target/test"
                               :ns-regexp "-test$"
                               :devtools  {:http-port 9500
                                           :http-root "target/test"}}}}
